---
title: Aaaaaa
subtitle: für 6-10 Stück
---

section
  h2 Zutaten

  ul.checklist
    li
      input(type="checkbox", id="i1")
      label(for="i1") 100g Butter
    li
      input(type="checkbox", id="i2")
      label(for="i2") 100g Zucker

section
  h2 Zubereitung

  ol.checklist
    li
      input(type="checkbox", id="p1")
      label(for="p1") Butter, Zucker, Vanillezucker, Eier und Salz mixen.
    li
      input(type="checkbox", id="p2")
      label(for="p2") Puddingpulver, Milch, Mehl, Backpulver hinzugeben.
