---
title: Ruoc.co
lang: en
---

<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{ title }} | ruoc.co</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          {% for nav in collections.nav %}
          <li><a href="{{ nav.page.inputPath }}">{{ nav.data.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <h1>{{ title }}</h1>
      <p>
        {{ subtitle }}
      </p>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
