---
layout: html
---

main
  article
    header.title
      span.title
        if parent
          a.parent.fa.fa-chevron-left(href=parent)
        h1.title #{ title }
      p.subtitle #{ subtitle }
    | !{ content }
nav
  ul
    li
      a(href="/") Home
    li
      a(href="/rezepte") Rezepte
